<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>
    <ion-card>
    
        <img src="../../assets/imgs/history.jpg"/>
      <ion-card-content>
        <ion-card-title>
          History
          </ion-card-title>
        <p>
            On an average day here in Hong Kong, I might walk several miles without ever going outdoors. This is possible thanks to an extensive system of interconnected shopping malls, office towers, covered elevated walkways and subway stations. What’s not possible is to map these walks on Google Maps. Like most mapping services, Google Maps rarely covers indoor spaces. So I’ve learned to get around the old-fashioned way: looking at wayfinding signs, asking directions, trial and error.
          </p>
          <p>
            But soon, getting lost indoors may become just as rare as getting lost outdoors. Indoor navigation systems – think Google Maps for malls, airports, hospitals and other large buildings – are on the rise, and they aim to remake our sense of space as thoroughly as GPS already has. 
            
            “GPS gets you to the shopping mall but doesn’t work inside,” says Roger McKinlay, a navigation specialist and former president of the UK’s Royal Institute of Navigation. “The signals are weak and the receiver has no hope of finding four signals, which have not been bounced around. So other forms of positioning are needed.”  
            
          </p>  
      </ion-card-content>
    </ion-card> 
    <ion-list>
        <ion-item>
          <ion-avatar item-start>
            <img src="../../assets/imgs/sr.abid.jpg" class="custom-avatar">
          </ion-avatar>
          <h2>Dr Muhammad Abid Mughal</h2>
          <h3>Director</h3>
          <p>I've had a pretty messed up day. If we just...</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/imgs/saba.jpg" class="custom-avatar">
            </ion-avatar>
            <h2>Saba Iqbal</h2>
            <h3>Team Member</h3>
            <p>I've had a pretty messed up day. If we just...</p>
          </ion-item>
          <ion-item>
              <ion-avatar item-start>
                <img src="../../assets/imgs/hafsa.jpg" class="custom-avatar">
              </ion-avatar>
              <h2>Hafsa Gul</h2>
              <h3>Team Member</h3>
              <p>I've had a pretty messed up day. If we just...</p>
            </ion-item>
      </ion-list>
</ion-content>
</ion-content>
